* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #011627;
  --color-secondary: #41ead4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem auto;
  text-align: center;
}

h3,
h4,
h5,
h6 {
  margin: 0.75rem auto;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

.thumb {
  text-align: center;
}

.thumb-icons {
  display: flex;
  margin: auto;
  width: 100px;
  height: 50px;
  line-height: 50px;
  justify-content: space-around;
  align-items: center;
  border-radius: 0 0 10px 10px;
  visibility: hidden;
}

.thumb-icon-fav,
.thumb-icon-seen {
  background-color: var(--color-secondary) !important;
  width: 40px !important;
  height: 40px !important;
}

.thumb-img {
  width: 100px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  border: 3px solid transparent;
}

.thumb:hover .thumb-icons {
  visibility: visible;
}

.thumb-img:hover {
  filter: contrast(0.8);
  border: 3px solid var(--color-secondary);
}

.thumb h5:hover {
  text-decoration: underline solid 3px var(--color-secondary);
}
