* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
}

h3,
h4,
h5,
h6 {
  margin: 0.75rem 0;
}

.thumb {
  text-align: center;
}

.img-thumb {
  width: 100px;
  height: 150px;
  object-fit: contain;
  border-radius: 10px;
}
